* {
    font-family: "Nanum Gothic";
    box-sizing: border-box;
}

.main img {
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
}

.bar {
    height: 55px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1050;
    background-color: rgb(255,255,255,0.9);
    font-size: 14pt;
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding-top: 5px;
}


.bar li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
}

.bar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.bar a:hover{
    color: rgb(78, 72, 72);
    text-decoration: none;
}

.bookmenu {
    background-color: white;
    width: 50%;
    height: 120px;
    float: left;
    position: absolute;
    left: 25%;
    bottom: 5%;

}

.chkin, .chkout, .chknum{
    display: inline-block;
    margin: 0 30px;
}

.bookmenu .chk button{
    margin: 0 30px;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.bookmenu .chk{
    margin: 21px;
    margin-right: 0;
    font-size: 20px;
    border-right: black solid;
    width: 65%;
    text-align: center;
    display: inline-block;
}

.bookmenu .book{
    display: inline-block;
    width: 28%;
    font-size: 40px;
    text-align: center;
    margin-left: 10px;
}

.bookmenu .book button{
    display: inline-block;
    text-align: center;
    font-size: 40px;
    text-align: center;
}