<!DOCTYPE html>
<html lang="ko-kr">



<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TFC5925');</script>
    <!-- End Google Tag Manager -->
    <title>nazoHotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="css/skins/blue-light-2.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <script src="js/moment.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="js/html5shiv.min.js"></script>
    <script  src="js/respond.min.js"></script>
    <![endif]-->



</head>


<body onload="init()">

    <div class="banner banner-2">
        <div class="banner-inner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Main header start -->
                <header class="main-header main-header-2 main-header-3">
                    <div class="container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="index.html" class="logo">
                                    <img src="img/logos/white-logo.png" alt="logo">
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                        <a href="index.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            홈
                                        </a>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="room.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            객실<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="room.html#singleroom">싱글 (Single)</a></li>
                                            <li><a href="room.html#doubleroom">더블 (Double)</a></li>
                                            <li><a href="room.html#deluxroom">디럭스 (Deluxe)</a></li>
                                            <li><a href="room.html#suiteroom">스위트 (Suite)</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="contact" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            문의사항
                                        </a>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="search.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            예약조회
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- /.navbar-collapse -->
                            <!-- /.container -->
                        </nav>

                    </div>
                </header>
                <!-- Main header end -->
            </div>
        </div>
    </div>
    <!-- Banner end -->

    <!-- Reservation area start -->
    <div class="contWrap">

        <!-- Search -->
        <div class="search ty2">
            <span>· 호텔 : </span><strong class="item">나조호텔</strong>
            <span>· 객실 : </span><span class="item" id="room" style="padding-right:15px;"></span><br>
            <span class="item" style="padding-right:15px;">· 투숙 기간 :
                <span id="checkin"></span> - <span id="checkout"></span> (<span id="diff"></span>박)
            </span>
            <span class="item">
                · 인원 정보 :
                성인 <span id="person"></span>명</span>
        </div>
        <!-- // Search -->
        <form action="#" method="get">

            <!-- 예약자 정보 // -->
            <h3 class="title-3 fc-1">예약자 정보</h3>
            <table class="tb-1 tbData">
                <caption>예약자 정보</caption>
                <colgroup>
                    <col width="175px">
                    <col width="*">
                    <col width="175px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">이름</th>
                        <td class="fm" colspan="3">
                            <input type="text" class="ipt fw-1" placeholder="성" title="성" name="rsvLastNm" id="rsvLastNm" value="" maxlength="2"> <input type="text" class="ipt fw-2" placeholder="이름" title="이름" name="rsvFirstNm" id="rsvFirstNm" value="" maxlength="5">
                            <span class="radG fmMgL">
                                <span class="radFm">
                                    <input type="radio" class="rad" id="rsvGender1" name="rsvGender" value="M0541"><span class="act"></span><label for="rsvGender1">남</label>
                                </span>
                                <span class="radFm">
                                    <input type="radio" class="rad" id="rsvGender2" name="rsvGender" value="M0542"><span class="act"></span><label for="rsvGender2">여</label>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">생년월일</th>
                        <td class="fm">
                            <select class="slt fw-4" title="년" name="rsvBrthdyYY" id="rsvBrthdyYY">
                                <option value="">선택</option>
                                <option value="1918">1918</option>
                                <option value="1919">1919</option>
                                <option value="1920">1920</option>
                                <option value="1921">1921</option>
                                <option value="1922">1922</option>
                                <option value="1923">1923</option>
                                <option value="1924">1924</option>
                                <option value="1925">1925</option>
                                <option value="1926">1926</option>
                                <option value="1927">1927</option>
                                <option value="1928">1928</option>
                                <option value="1929">1929</option>
                                <option value="1930">1930</option>
                                <option value="1931">1931</option>
                                <option value="1932">1932</option>
                                <option value="1933">1933</option>
                                <option value="1934">1934</option>
                                <option value="1935">1935</option>
                                <option value="1936">1936</option>
                                <option value="1937">1937</option>
                                <option value="1938">1938</option>
                                <option value="1939">1939</option>
                                <option value="1940">1940</option>
                                <option value="1941">1941</option>
                                <option value="1942">1942</option>
                                <option value="1943">1943</option>
                                <option value="1944">1944</option>
                                <option value="1945">1945</option>
                                <option value="1946">1946</option>
                                <option value="1947">1947</option>
                                <option value="1948">1948</option>
                                <option value="1949">1949</option>
                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>
                                <option value="1970" selected="">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="1999">2000</option>
                            </select>
                            <span class="fmTxt-1">년</span>
                            <select class="slt fw-4" title="월" name="rsvBrthdyMT" id="rsvBrthdyMT">
                                <option value="">선택</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <span class="fmTxt-1">월</span>
                            <select class="slt fw-4" title="일" name="rsvBrthdyDE" id="rsvBrthdyDE">
                                <option value="">선택</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <span class="fmTxt-1">일</span>
                        </td>
                        <th scope="row">연락처</th>
                        <td class="fm">
                            <!-- ** Code ** // -->
                            <select class="slt fw-3" title="연락처 앞자리" name="rsvTel1" id="rsvTel1">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                            <span class="fmTxt-3">-</span>
                            <input type="text" class="ipt fw-3" title="연락처 중간자리" name="rsvTel2" id="rsvTel2" value="" maxlength="4" style="ime-mode:disabled;">
                            <span class="fmTxt-3">-</span>
                            <input type="text" class="ipt fw-3" title="연락처 끝자리" name="rsvTel3" id="rsvTel3" value="" maxlength="4" style="ime-mode:disabled;">
                        </td><!-- // ** Code ** -->

                    </tr>
                    <tr>
                        <th scope="row">이메일</th>
                        <td class="fm" colspan="3">
                            <input type="text" class="ipt fw-5" title="E-mail 주소" name="rsvEmail1" id="rsvEmail1" value="" maxlength="30">
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- // 예약자 정보 -->

            <!-- 결제 금액 // -->
            <h3 class="title-3 fc-1">결제 금액</h3>
            <table class="tb-1 tbData">
                <caption>결제 금액</caption>
                <colgroup>
                    <col width="175px">
                    <col width="240px">
                    <col width="175px">
                    <col width="240px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">객실 가격</th><!-- 객실가격 -->
                        <td colspan="3" id="roomprice"></td>  
                        <td rowspan="4" class="totalPricefield">
                            <dl class="totalPrice">
                                <dt class="total">최종 결제 금액</dt>
                                <dd class="total">
                                    <em id="midTotal"></em> 원</dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">추가 금액</th><!-- 옵션 -->
                        <td>
                            <span id="midOptpc">
                            </span>
                            <!-- <a href="#" onclick="fnShowOption2();return false;" class="btnD btn-4 fmMgL">객실 옵션 선택</a> -->
                        </td>
                        <td colspan="2">
                            <div id="optionInfos"></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">부가세</th><!-- 부가세 -->
                        <td colspan="3" id="midVatpc">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">최종 결제 금액</th><!-- 최종결제금액 -->
                        <td colspan="3" id="lastTotal">
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- // 결제 금액 -->

            <!-- // 옵션선택 및 요청사항 -->
            <div id="room2-1" class="tabCont" style="display:block;">
                <div class="cHead chw-3">
                    <h2 class="title-3 fc-1 chwTit">요청사항</h2>
                </div>

                <div class="msgBox-1">
                    별도의 요청 사항은 호텔의 상황에 따라 제공이 어려울 경우가 있으니 양해 부탁 드립니다.</div>

                <table class="tb-1 tbData">
                    <tr>
                        <th scope="row">기타 남기실 말씀</th>
                        <td class="fm">
                            <textarea class="fw-full fh-1" title="기타 남기실 말씀" placeholder="내용을 입력해 주세요." name="strCmt_1" id="strCmt_1" maxlength="200"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">추가 옵션</th>
                        <td class="add_option">
                            <span class="fL chwChk">
                                <span class="chkFm ty-3 aR">
                                    <input type="checkbox" class="chk" id="option[0]" name="option0" value="Y"><span class="act"></span><label for="chkAll"> 흡연 가능 객실</label>
                                </span>
                                <br><br>
                                <span class="chkFm ty-3 aR">
                                    <input type="checkbox" class="chk" id="option[1]" name="option1" value="Y"><span class="act"></span><label for="chkAll"> 오션 뷰 객실</label>
                                </span>
                                <br><br>
                                <span class="chkFm ty-3 aR">
                                    <input type="checkbox" class="chk" id="option[2]" name="option2" value="Y"><span class="act"></span><label for="chkAll"> 수영장 이용</label>
                                </span>
                                <br><br>
                                <span class="chkFm ty-3 aR">
                                    <input type="checkbox" class="chk" id="option[3]" name="option3" value="Y"><span class="act"></span><label for="chkAll"> 조식 뷔페</label>
                                </span>
                                <br><br>
                                <span class="chkFm ty-3 aR">
                                    <input type="checkbox" class="chk" id="option[4]" name="option4" value="Y"><span class="act"></span><label for="chkAll"> 석식 뷔페</label>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="btnArea-1">
                <button action="#" class="btnA btn-1" type="submit" id="submitBtn">확인</button>
                <a href="index.html" class="btnA btn-2">이전</a>
            </div>
        </form>
    </div>

    <!-- Footer start -->
    <footer class="main-footer clearfix">
        <div class="container">
            <!-- Footer info-->
            <div class="footer-info">
                <div class="row">
                    <!-- About us -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <a href="home.html">
                                    <img src="img/logos/white-logo.png" alt="white-logo">
                                </a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a conser nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam.</p>
                        </div>
                    </div>
                    <!-- Contact Us -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-item">
                            <div class="main-title-2">
                                <h1>Contact Us</h1>
                            </div>
                            <ul class="personal-info">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    Address: <a href="https://place.map.daum.net/17556144" target="_blank">55, Hanyangdaehak-ro, Sangnok-gu, Ansan-si, Gyeonggi-do, Republic of Korea</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    Email: <a href="mailto:insam2802@gmail.com">nazoHotel@nazohotel.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    Phone: <a href="tel:010-2802-0192">+82 031-400-0000</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Copy right start -->
    <div class="copy-right">
        <div class="container">
            &copy; 2017 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the property of their respective owners.
        </div>
    </div>
    <!-- Copy end right-->
    <script type="text/javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function diff(dt1, dt2) {
            dt1 = new Date(date1);
            dt2 = new Date(date2);
            return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate())) / (1000 * 60 * 60 * 24));
        }

        var room = getParameterByName('room');
        var checkin = getParameterByName('ci');
        var checkout = getParameterByName('co');
        var person = getParameterByName('adults');
        var roomtype;
        if (room == "싱글 (Single)") {
            roomtype = "single";
        }
        if (room == "더블 (Double)") {
            roomtype = "double";
        }
        if (room == "디럭스 (Delux)") {
            roomtype = "delux";
        }
        if (room == "스위트 (Suite)") {
            roomtype = "Suite";
        }
        var date1 = new Date(checkin);
        var date2 = new Date(checkout);
        if (date1 > date2) {
            var temp = date2;
            date2 = date1;
            date1 = temp;
        }
        var date_diff_indays = diff(date1, date2);
        document.getElementById("checkin").innerHTML = date1.getFullYear() + "년" + (date1.getMonth()+1) + "월" + date1.getDate() + "일";
        document.getElementById("room").innerHTML = room;
        document.getElementById("checkout").innerHTML = date2.getFullYear() + "년" + (date2.getMonth()+1) + "월" + date2.getDate() + "일";
        document.getElementById("person").innerHTML = person;
        document.getElementById("diff").innerHTML = date_diff_indays;
        document.getElementById("roomprice").innerHTML = 150;
        var mdTotal = 150 * date_diff_indays;
        document.getElementById("midOptpc").innerHTML = 0;
        var Vat = mdTotal / 10;
        document.getElementById("midVatpc").innerHTML = Vat;
        document.getElementById("lastTotal").innerHTML = Vat + mdTotal;
        document.getElementById("midTotal").innerHTML = Vat + mdTotal;
        //        alert(room);
    </script>



</body>


</html>
