<!DOCTYPE html>
<html lang="ko-kr">



<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TFC5925');</script>
    <!-- End Google Tag Manager -->
    <title>nazoHotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="css/skins/blue-light-2.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="js/html5shiv.min.js"></script>
    <script  src="js/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <div class="banner banner-2">
        <div class="banner-inner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Main header start -->
                <header class="main-header main-header-2 main-header-3">
                    <div class="container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="index.html" class="logo">
                                    <img src="img/logos/white-logo.png" alt="logo">
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                        <a href="index.html">
                                            홈
                                        </a>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="room.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            객실<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="room.html#singleroom">싱글 (Single)</a></li>
                                            <li><a href="room.html#doubleroom">더블 (Double)</a></li>
                                            <li><a href="room.html#deluxroom">디럭스 (Deluxe)</a></li>
                                            <li><a href="room.html#suiteroom">스위트 (Suite)</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="contact.html">
                                            문의사항
                                        </a>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="search.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            예약조회
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- /.navbar-collapse -->
                            <!-- /.container -->
                        </nav>

                    </div>
                </header>
                <!-- Main header end -->
            </div>
        </div>
    </div>
    <!-- Banner end -->
    
    <div class="contact-3 content-area-6">
    <div class="container">
        <div class="main-title mb-60">
            <h1>문의사항</h1>
            <p class="lead">문의사항이 있으시다면 아래 양식에 맞춰 제출해주세요.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <!-- Contact details start -->
                <div class="contact-info">
                    <h3>문의 정보</h3>
                    <ul class="contact-list">
                        <li><i class="fa fa-map-marker"></i> 한양대학로 55</li>
                        <li><i class="fa fa-phone"></i> +55 417 634 7071</li>
                        <li><i class="mr-3 fa fa-envelope"></i> info@themevessel.com</li>
                    </ul>
                    <h3>Follow Us</h3>
                    <ul class="social-list clearfix">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- Contact details end -->
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <!-- Contact form start -->
                <div class="contact-form">
                    <form id="contact_form" action="index.html" method="GET" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group fullname">
                                    <input type="text" name="full-name" class="input-text" placeholder="성명">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group enter-email">
                                    <input type="email" name="email" class="input-text" placeholder="e-mail 주소">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group subject">
                                    <input type="text" name="subject" class="input-text" placeholder="주제">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group number">
                                    <input type="text" name="phone" class="input-text" placeholder="전화번호">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                                <div class="form-group message">
                                    <textarea class="input-text" name="message" placeholder="내용을 적어주세요."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="send-btn mb-0  text-center">
                                    <button type="button" class="btn-md btn-info"  onclick="bc();">제출</button>
                                    <script>
                                        function bc(){
                                            alert("문의가 제출되었습니다.");
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact form end -->
            </div>
        </div>
    </div>
</div>

</body>


</html>
