<!DOCTYPE html>
<html lang="ko-kr">



<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TFC5925');</script>
    <!-- End Google Tag Manager -->
    <title>nazoHotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="css/skins/blue-light-2.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="js/html5shiv.min.js"></script>
    <script  src="js/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <div class="banner banner-2">
        <div class="banner-inner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Main header start -->
                <header class="main-header main-header-2 main-header-3">
                    <div class="container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="index.html" class="logo">
                                    <img src="img/logos/white-logo.png" alt="logo">
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                        <a href="index.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                             홈
                                        </a>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="room.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            객실<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="room.html#singleroom">싱글 (Single)</a></li>
                                            <li><a href="room.html#doubleroom">더블 (Double)</a></li>
                                            <li><a href="room.html#deluxroom">디럭스 (Deluxe)</a></li>
                                            <li><a href="room.html#suiteroom">스위트 (Suite)</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="contact.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            문의사항
                                        </a>
                                    </li>
                                    <li class="dropdown active">
                                        <a href="search.html" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            예약조회
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- /.navbar-collapse -->
                            <!-- /.container -->
                        </nav>

                    </div>
                </header>
                <!-- Main header end -->
            </div>
        </div>
    </div>
    <!-- Banner end -->
<!--
    <div id="singleroom" class="rooms"></div>

    <div id="doubleroom" class="rooms"></div>

    <div id="deluxeroom" class="rooms"></div>

    <div id="suiteroom" class="rooms"></div>
-->
    <div class="rooms-section content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Best Rooms</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-1.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Luxury Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-2.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Double Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-3.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Double Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-4.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Family Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-5.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Luxury Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-16.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Double Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
                <div class="hotel-box-list">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-pad">
                        <img src="img/room/img-17.jpg" alt="rooms-col-1" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 detail">
                        <div class="heading">
                            <div class="title pull-left">
                                <h3>
                                    <a href="rooms-details.html">Double Room</a>
                                </h3>
                            </div>
                            <div class="price pull-right">
                                $567.99/Night
                            </div>
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        2 King Beds
                                    </li>
                                    <li>
                                        <i class="flaticon-air-conditioning"></i>
                                        AC
                                    </li>
                                    <li>
                                        <i class="flaticon-breakfast"></i>
                                        Breakfast
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-room-service"></i>
                                        Room Service
                                    </li>
                                    <li>
                                        <i class="flaticon-graph-line-screen"></i>
                                        TV
                                    </li>
                                    <li>
                                        <i class="flaticon-weightlifting"></i>
                                        GYM
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="fecilities">
                                    <li>
                                        <i class="flaticon-phone-receiver"></i>
                                        Telephone
                                    </li>
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        Wi-fi
                                    </li>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hiddenmt-15">
                            <a href="blog-details.html" class="read-more-btn">Read more...</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <!-- Page navigation start -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="active"><a href="rooms-col-1.html">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="rooms-col-2.html">2</a></li>
                    <li><a href="rooms-col-3.html">3</a></li>
                    <li><a href="rooms-col-4.html">4</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Page navigation end -->
        </div>
    </div>
</div>


</body>


</html>
