<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TFC5925"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TFC5925');
    </script>
    <!-- End Google Tag Manager -->
    <title>nazoHotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="/user/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/user/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/user/css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="/user/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/user/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/user/fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="/user/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/user/css/bootstrap-datepicker.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/user/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="/user/css/skins/blue-light-2.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="/user/css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="/user/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/user/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="/user/js/html5shiv.min.js"></script>
    <script  src="/user/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <img src="/user/img/s.jpg" class="bg">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        ::before
        "<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFC5925" height="0" width="0" style="display:none;visibility:hidden"></iframe>"
        ::after
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader" style="display: none;"></div>

    <!-- Content bg area start -->
    <div class="contact-bg overview-bgi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form content box start -->
                    <div class="form-content-box">
                        <!-- logo -->
                        <a href="/home" class="clearfix alpha-logo">
                            <img src="/user/img/logos/white-logo.png" alt="white-logo">
                        </a>
                    </div>
                </div>
                <!-- Form content box end -->
                <div class="col-lg-6">
                    <!-- Form content box start -->
                    <div class="form-content-box">
                        <div class="details">
                            <h3>예약번호로 조회</h3>
                            <!-- Form start-->
                            <form action="/book/search/id" method="POST">
                                <div class="form-group">
                                    <input type="tel" name="book_id" class="input-text" placeholder="예약 번호">
                                </div>
                                <div class="mb-0">
                                    <button type="submit" class="btn-md btn-info btn-block">확인</button>
                                </div>
                            </form>
                            <!-- Form end-->
                        </div>       
                    </div>
                    <!-- Form content box end -->
                </div>

                <div class="col-lg-6">
                    <!-- Form content box start -->
                    <div class="form-content-box">
                        <div class="details">
                            <h3>개인정보로 조회</h3>
                            <!-- Form start-->
                            <form action="/book/search/data" method="POST">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" name="first_name" class="input-text" placeholder="성">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" name="last_name" class="input-text" placeholder="이름">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="mobile_number" class="input-text" placeholder="전화번호">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="input-text" placeholder="이메일 주소">
                                </div>
                                <div class="mb-0">
                                    <button type="submit" class="btn-md btn-info btn-block">확인</button>
                                </div>
                            </form>
                            <!-- Form end-->
                        </div>
                    </div>
                    <!-- Form content box end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content bg area end -->

    <script src="/user/js/jquery-2.2.0.min.js"></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <script src="/user/js/bootstrap-submenu.js"></script>
    <script src="/user/js/jquery.mb.YTPlayer.js"></script>
    <script src="/user/js/wow.min.js"></script>
    <script src="/user/js/bootstrap-select.min.js"></script>
    <script src="/user/js/jquery.easing.1.3.js"></script>
    <script src="/user/js/jquery.scrollUp.js"></script>
    <script src="/user/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/user/js/jquery.filterizr.js"></script>
    <script src="/user/js/bootstrap-datepicker.min.js"></script>
    <script src="/user/js/app.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/user/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Custom javascript -->

</body>

</html>
